@model model.Models.Student
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<h1>Student id: @Model.Id</h1>
<h1>Student Name: @Model.Name</h1>
<h1>Student age: @Model.Age</h1>
<h1>Student age: @Model.Grade</h1>
<img src = "@Model.Image" />

