@model List<Student>
<h1 class="alert alert-info">@TempData["mess"]</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td><a asp-controller="Student" asp-action="Detail" asp-route-id ="@student.Id"><img src="@student.Image" width="100" height="100"/></a></td>
                    <td>
                        <a class="btn btn-info" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id" onclick="return confirm('Are you sure');">Edit</a>
                        <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id" onclick="return confirm('Are you sure');">Delete</a>
                    </td>
                </tr>
            }
            <a class="btn btn-success" asp-controller="Student" asp-action="Add">Add</a>
        </tbody>
   </table>